[Unit]
Description=OVOS Audio
PartOf=ovos.service
After=ovos.service
After=ovos-messagebus.service
After=pulseaudio.service

[Service]
Type=simple
User={{ ansible_user }}
Group={{ ansible_user }}
ExecStart={{ ovos_datadir }}/bin/ovos-audio
TimeoutStartSec=1m
TimeoutStopSec=1m
Restart=on-failure
StartLimitInterval=5min
StartLimitBurst=4
StandardOutput=file:{{ ovos_log_path }}/audio.log

[Install]
WantedBy=ovos.service