{
  "data_dir": "{{ ovos_datadir }}",
  "lang": "{{ ovos_lang }}",
  "system_unit": "{{ ovos_system_unit }}",
  "time_format": "{{ ovos_time_format }}",
  "date_format": "{{ ovos_date_format }}",
  "opt_in": "{{ ovos_opt_in }}",
  "confirm_listening": "{{ ovos_confirm_listening }}",
  "cache_path": "{{ ovos_cache_path }}",
  "server": {
    "backend_type": "{{ ovos_server_backend_type }}",
    "url": "{{ ovos_server_backend_url }}",
    "version": "v1",
    "update": false,
    "metrics": false,
    "sync_skill_settings": true
  },
  "microservices": {
    "wolfram_provider": "auto",
    "weather_provider": "auto",
    "geolocation_provider": "auto",
    "wolfram_key": "{{ ovos_service_wolfram_key }}",
    "owm_key": "{{ ovos_service_owm_key }}",
    "email": {
      "recipient": "",
      {% for key, value in ovos_service_email.items() %}
      "{{ key }}": {
      {% for sub_key, sub_value in value.items() %}
        "{{ sub_key }}": "{{ sub_value }}"{% if not loop.last %},{% endif %}
      {% endfor %}
      }{% if not loop.last %},{% endif %}
      {% endfor %}
    }
  },
  "listener": {
    "wake_word": "{{ ovos_wake_word }}",
    "stand_up_word": "{{ ovos_stand_up }}",
    "microphone": {
      "module": "{{ ovos_microphone }}"
    },
    "VAD": {
      "module": "{{ ovos_vad }}",
      {% for vad, options in ovos_vads.options.items() %}
      "{{ vad }}": {{ options | to_nice_json }}{% if not loop.last %},{% endif %}
      {% endfor %}
    }
  },
  "hotwords": {
    {% for hotword, options in ovos_hotwords.options.items() %}
    "{{ hotword }}": {{ options | to_nice_json }}{% if not loop.last %},{% endif %}
    {% endfor %}
  },
  "gui": {
    "extension": "generic",
    "generic": {
        "homescreen_supported": false
    }
  },
  "stt": {
    "module": "{{ ovos_stt }}",
    "fallback_module": "{{ ovos_stt_fallback }}",
    {% for stt, options in ovos_stts.options.items() %}
    "{{ stt }}": {{ options | to_nice_json }}{% if not loop.last %},{% endif %}
    {% endfor %}
  },
  "tts": {
    "pulse_duck": false,
    "module": "{{ ovos_tts }}",
    "fallback_module": "{{ ovos_tts_fallback }}",
    {% for tts, options in ovos_ttss.options.items() %}
    "{{ tts }}": {{ options | to_nice_json }}{% if not loop.last %},{% endif %}
    {% endfor %}
  },
  "log_level": "{{ ovos_log_level }}",
  {# "ignore_logs": "{{ ovos_ignore_logs | map('quote') | join(', ') | surround('[', ']') }}",#}
  "debug": false
}
